<p>
    <a class="btn btn-primary mt-2" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Message editor
    </a>
</p>


<div class="collapse <#if message??>show</#if>" id="collapseExample">
    <div class="form-group mt-3">
        <form method="post" enctype="multipart/form-data">
            <div class="input-group mb-3">
                <input type="text" name="text" class="form-control ${(textError??)?string('is-invalid', '')}"
                       value="<#if message??>${message.text}</#if>" placeholder="Enter a message" />
                <#if textError??>
                <div class="invalid-feedback">${textError}</div>
            </#if>
    </div>
    <div class="input-group mb-3">
        <input type="text" name="tag" class="form-control" value="<#if message??>${message.tag}</#if>" placeholder="teg" />
        <#if tagError??>
        <div class="invalid-feedback">${tagError}</div>
    </#if>
</div>
<div class="input-group mb-3">
    <input type="file" name="file" class="form-control" placeholder="Recipient's username"/>
</div>
<input type="hidden" name="_csrf" value="${_csrf.token}" />
<input type="hidden" name="id" value="<#if message??>${message.id}</#if>" />
<div class="input-group mb-3">
    <button type="submit" class="btn btn-primary">Save message</button>
</div>
</form>
</div>
</div>